<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejs Home</title>
  </head>
  <body>
    <h1>Hi from server</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, odit.
    </p>
    <hr />
    <br />
    <h2>Name: <%= randomUser.name %></h2>
    <h3>Age: <%= randomUser.age %></h3>
    <h3>Gender: <%= randomUser.gender %></h3>
    <h3>Country: <%= randomUser.country %></h3>

  </body>
</html>
